<a href="https://colab.research.google.com/github/VijayPune/CommunityClassroom-Git/blob/master/Tutorial_Using_Google_Colab_with_gitHub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Steps to Connect your Google Colab to our Google Drive**

In [12]:
!pwd

/content

In [13]:
!ls

gdrive	sample_data

In [14]:
# This code is to mount my Google Drive to Google Colab so that Colab can access ANY files from my Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [15]:
# To check the files on my Google Drive
!ls

gdrive	sample_data

In [16]:
###

### **How to check contents on our Google Drive**

In [17]:
!ls /content/gdrive/MyDrive/

'Books and Notes on Data Science'   smartphone.gsheet
'Colab Notebooks'		    titanic.csv

In [18]:
import pandas as pd

###**Steps to Import any file from our Google Drive to Google Colab**



---

In [19]:
df1 = pd.read_csv('/content/gdrive/MyDrive/titanic.csv')

In [20]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
df1.shape

(891, 12)

### **How to IMPORT any Dataset from gitHub Repository of any other person**

**Here we have searched net and found a interesting ipl dataset on gitHub at following URL --- https://github.com/srinathkr07/IPL-Data-Analysis**
Now we will try to download it directly from that URL into our Colab to use it.

First click on the selected dataset .csv file and load it.
Then on RHS there is a Button RAW, click on it and the .csv file gets loaded.
Also importantly you get the complete Path for that file set.
Using that path you can read that file as below

In [22]:
df2 = pd.read_csv("https://raw.githubusercontent.com/srinathkr07/IPL-Data-Analysis/master/matches.csv")
df2.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

### **How to store our THIS .ipynb in our gitHub Repository for future use or to share it with others**

**Go to File on top left, select "Save a Copy in gitHub" from the drop down menu **